h1, h2, h3, h4, h5, h6 {
  color: #2898D5; }

p {
  color: #5A5959;
  letter-spacing: 1.08px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.m-b-20 {
  margin-bottom: 20px; }

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }

#lightbox.lightactive {
  display: flex;
  justify-content: center;
  align-items: center; }

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white; }

#pageContent {
  padding-top: 50px;
  padding-bottom: 100px; }
  #pageContent p {
    letter-spacing: 1.08px;
    color: #5A5959;
    padding: 12px 0; }
  #pageContent .news-heading {
    color: #2898D5;
    font-size: 1.4em;
    margin: 15px 0;
    font-weight: 600; }
  #pageContent .part-heading {
    color: #2898D5;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 15px 0;
    width: 20%;
    font-weight: 600; }
  #pageContent .product-item {
    margin: 15px 0; }
  #pageContent .writeUs {
    margin: 20px 0; }
  #pageContent .product-img {
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0; }
  #pageContent .product-info-list ul {
    list-style: disc;
    padding-left: 15px; }
    #pageContent .product-info-list ul li {
      letter-spacing: 0.72px;
      color: #C2C2C2; }
  #pageContent .product-table {
    color: #C2C2C2; }
    #pageContent .product-table .table-btn {
      background-color: #FFFFFF;
      color: #2898D5;
      border: none;
      outline: none; }
      #pageContent .product-table .table-btn:hover {
        background: #FFFFFF; }
    #pageContent .product-table .accordionItem .pr-data {
      padding: 5px 0;
      border-bottom: 1px solid #C2C2C2;
      margin: 0 -15px; }
    #pageContent .product-table .accordionItem .pr-button {
      padding: 4px 0; }
    #pageContent .product-table .product-table-heading {
      font-weight: 600; }
      #pageContent .product-table .product-table-heading .pr-data {
        padding: 5px 0;
        border-bottom: 2px solid #C2C2C2;
        margin: 0 -15px; }
    #pageContent .product-table .accContent .pr-table-info p {
      padding: 5px;
      border: 1px solid #C2C2C2;
      color: #C2C2C2; }
    #pageContent .product-table .accContent h4 {
      color: #2898D5;
      font-size: 1.2em;
      font-weight: 600;
      margin: 0; }
    #pageContent .product-table .accContent a {
      color: #FFF;
      text-decoration: none; }
      #pageContent .product-table .accContent a:hover {
        color: #FFF;
        text-decoration: none; }
  #pageContent .categories {
    color: #575757;
    text-transform: capitalize; }
    #pageContent .categories .pageMap {
      margin-bottom: 15px; }
    #pageContent .categories h5 {
      font-size: 1.4em;
      margin-left: 38px; }
    #pageContent .categories ul.categorylist > li {
      cursor: pointer;
      font-size: 1.3em;
      margin: 15px 0; }
      #pageContent .categories ul.categorylist > li i {
        margin-right: 25px;
        font-size: 0.5em; }
      #pageContent .categories ul.categorylist > li ul.subcat {
        margin: 15px 4px !important;
        padding-left: 50px;
        border-left: 1px solid #575757;
        transition: all .5s linear; }
        #pageContent .categories ul.categorylist > li ul.subcat li {
          font-size: .8em; }
  #pageContent .property-table {
    color: #313131; }
    #pageContent .property-table .page-name {
      margin-bottom: 50px; }
    #pageContent .property-table .item-title {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid #040506; }
      #pageContent .property-table .item-title h5 {
        color: #313131;
        margin: 0;
        margin-left: 15px; }
      #pageContent .property-table .item-title button {
        background-color: transparent;
        color: #2898D5;
        font-size: .9em;
        outline: none;
        border: none; }
        #pageContent .property-table .item-title button:hover {
          background-color: transparent;
          color: #2898D5;
          border: none; }
    #pageContent .property-table table {
      text-transform: capitalize;
      font-size: 0.8em;
      padding: 0 15px; }
      #pageContent .property-table table td {
        border: none !important; }
        #pageContent .property-table table td:first-child {
          padding-left: 15px; }
      #pageContent .property-table table thead {
        color: #2898D5;
        cursor: pointer; }
        #pageContent .property-table table thead tr td:first-child {
          padding-left: 15px !important; }
      #pageContent .property-table table tbody tr {
        border: none; }
        #pageContent .property-table table tbody tr:nth-child(2n+1) {
          background: #D2EBF1; }
  #pageContent .aboutus .pageMap {
    margin-bottom: 15px; }
  #pageContent .aboutus h3, #pageContent .aboutus h4, #pageContent .aboutus h5 {
    color: #2898D5;
    letter-spacing: 1.44px; }
  #pageContent .aboutus h3 {
    font-weight: 600;
    font-size: 2em; }
  #pageContent .aboutus h4 {
    width: 75%;
    font-size: 1.6em;
    margin: 20px auto; }
  #pageContent .aboutus p {
    color: #5A5959;
    letter-spacing: 1.08px; }
  #pageContent .aboutus p.border-bottom {
    padding-bottom: 50px; }
  #pageContent .aboutus .fixed-bg {
    background-image: url("../img/aboutbg.png");
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0; }
  #pageContent .contact-page .pageMap {
    margin-bottom: 15px; }
  #pageContent .contact-page .contact-label {
    width: 60%;
    margin: 0 auto 100px auto;
    letter-spacing: -0.54px;
    color: #AFAFAF; }
  #pageContent .contact-page .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%; }
  #pageContent .contact-page .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%; }
  #pageContent .contact-page .contact-form {
    padding-top: 40px;
    margin-top: 30px;
    border-top: 2px solid #2898D5; }
  #pageContent .career .career-bg {
    background-image: url("../img/careerbg.png");
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0; }
  #pageContent .career h4 {
    font-size: 1.5em; }
  #pageContent .career h5 {
    font-size: 1.2em; }

.contact-form form label {
  text-transform: capitalize;
  color: #525151;
  letter-spacing: -0.3px;
  font-weight: 400;
  margin-bottom: 0; }
  .contact-form form label span.red-star {
    color: #FD0000; }
.contact-form form input, .contact-form form textarea, .contact-form form select {
  border: 1px solid #E5E5E5;
  border-radius: 0;
  box-shadow: none;
  color: #525151; }
.contact-form form input {
  padding: 20px; }
.contact-form form select {
  height: 42px;
  margin-bottom: 15px; }
  .contact-form form select option[value=""][disabled] {
    display: none; }
.contact-form form .request-radio {
  display: flex;
  flex-wrap: wrap; }
  .contact-form form .request-radio li {
    flex-grow: 1;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contact-form form .request-radio li input {
      visibility: hidden;
      display: none; }
    .contact-form form .request-radio li label {
      cursor: pointer;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      transition: all .5s ease;
      border-right: 1px solid #fff; }
    .contact-form form .request-radio li input:checked + label {
      background: #c2c2c2; }
.contact-form form .input-filewrapper {
  position: relative;
  height: 62px;
  margin-bottom: 15px; }
  .contact-form form .input-filewrapper label {
    position: absolute;
    top: 0;
    left: 0; }
  .contact-form form .input-filewrapper .input-file-mask {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer; }
  .contact-form form .input-filewrapper .input-file {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    z-index: 4;
    width: 100%;
    padding: 9px 20px;
    cursor: pointer; }
  .contact-form form .input-filewrapper::after {
    content: "upload";
    color: white;
    text-transform: uppercase;
    background-color: #2898D5;
    padding: 10px;
    position: absolute;
    top: 21px;
    right: 0; }

.accClose .accContent {
  transform: scaleY(0);
  border-bottom: none !important;
  position: absolute;
  z-index: -5000;
  opacity: 0;
  transition: all 0s; }

.accOpen .accContent {
  transition: all .7s linear;
  border-bottom: none !important;
  transform: scaleY(1);
  opacity: 1; }

.pageMap {
  letter-spacing: -0.28px;
  color: #606060;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 50px; }

.page-name {
  letter-spacing: -0.36px;
  color: #2898D5;
  text-transform: capitalize;
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px; }
  .page-name a {
    color: #2898D5;
    margin-right: 15px;
    font-weight: 600;
    font-size: 1em; }

.border-top {
  border-top: 1px solid #2898D5;
  padding-top: 12px; }

.border-bottom {
  border-bottom: 1px solid #2898D5;
  padding-bottom: 12px; }

.main-btn {
  background: #2898D5 0% 0% no-repeat;
  box-shadow: 0px 3px 7px #00000070;
  opacity: 0.75;
  padding: 10px 30px;
  letter-spacing: -0.51px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase; }

.main-btn-sm {
  padding: 3px 5px; }
