$mainblue:#2898D5;
h1,h2,h3,h4,h5,h6{
	color: $mainblue;
}
p{
 			color: #5A5959;
 			letter-spacing: 1.08px;
 		}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clear-both{
	clear: both;
}
.m-b-20{
	margin-bottom: 20px;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.lightactive {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}
#pageContent{
	padding-top: 50px;
	padding-bottom: 100px;
	p{
		letter-spacing: 1.08px;
		color: #5A5959;
		padding: 12px 0;
	}
	.news-heading{
		color: $mainblue;
		font-size: 1.4em;
		margin: 15px 0;
		font-weight: 600;
	}
	.part-heading{
		color: $mainblue;
		font-size: 1.2em;
		text-transform: uppercase;
		margin: 15px 0;
		width: 20%;
		font-weight: 600;

	}
	.product-item{
		margin: 15px 0;
		a{
				
			.product-name{
				font-size: 1.4em;
				color: #525252;
				margin-top: 5px;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
	.writeUs{
		margin: 20px 0;
	}

	////PRODUCT-INFO PAGE STYLE START
	.product-img{
		display: flex;
		justify-content:center;
		padding: 20px 0 50px 0;
	}
	.product-info-list{
		ul{ 
			list-style: disc;
			padding-left: 15px;
			li{
				letter-spacing: 0.72px;
				color: #C2C2C2;
			}
		}
	}
	.product-table{
		

			color: #C2C2C2;
			.table-btn{
				background-color: #FFFFFF;
				color: $mainblue;
				border: none;
				outline: none;
				&:hover{
					background: #FFFFFF;
				}
			}
			.accordionItem{
				
				.pr-data{
					padding: 5px 0;
					border-bottom: 1px solid #C2C2C2;
					margin: 0 -15px;
				}
				.pr-button{
					padding: 4px 0;
				}
			}
			.product-table-heading{
				font-weight: 600;
				.pr-data{
					padding: 5px 0;
					border-bottom: 2px solid #C2C2C2;
					margin: 0 -15px;
				}
				
			}
			.accContent{
				.pr-table-info p{
					padding: 5px;
					border: 1px solid #C2C2C2;
					color: #C2C2C2;

				}
				h4{
					color: $mainblue;
					font-size: 1.2em;
					font-weight: 600;
					margin: 0;
				}
				a{
					color:#FFF;
					text-decoration: none;
					&:hover{
						color: #FFF;
						text-decoration: none;
					}

				}
			}
		
	}
	////PRODUCT-INFO PAGE STYLE END


	////INGREDIENTS(CATEGORIES) PAGE STYLE START
	.categories{
		color: #575757;
		text-transform: capitalize;
		.pageMap{
			margin-bottom: 15px
		}
		h5{
			font-size: 1.4em;
			margin-left: 38px;
			
		}
		.categorylist{
			.category-wrapper{

			}
			.category-name{
				cursor: pointer;
				font-size: 1.3em;
				margin: 15px 0 ;
				i{
					margin-right: 25px;
					font-size:.5em 
				}
				
			}
			ul.subcat{
					margin:15px 4px !important;
					padding-left: 50px;
					border-left: 1px solid #575757;
					transition: all .5s linear;
					li{
						a{
							font-size: 1em;
							color:#575757;
							text-decoration: none;
							&:hover{
								color: #575757;
								text-decoration: none; 
							}
						}
					}
				}
		}
	}
	////INGREDIENTS(CATEGORIES) PAGE STYLE END



	////INGREDIENTS(PRUDUCT PROPERTIES) PAGE STYLE START
	
	.property-table{
		color: #313131;
		.page-name{
			margin-bottom: 50px;
		}
		.item-title{
			display: flex;
			justify-content: space-between;
			border-bottom: 0.5px solid #040506;

			h5{

				color: #313131;
				margin: 0;
				margin-left: 15px;


			}
			button{
				background-color: transparent;
				color: $mainblue;
				font-size: .9em;
				outline: none;
				border: none;
				&:hover{
					background-color: transparent;
					color: $mainblue;
					border: none;
				}
			}
		}
		.prop-item{
			>div{
				margin-bottom: 40px;
			}
		}
		table{
			text-transform: capitalize;
			font-size: 0.8em;
			padding: 0 15px;
			td{
				border: none !important;

				&:first-child{
					padding-left: 15px;
				}
				}
			thead{
				color: $mainblue;
				cursor: pointer;
				tr{
					td{
						&:first-child{
							padding-left: 15px !important;
						}
					}
				}
			}
			tbody{
				tr{
					border: none;

					&:nth-child(2n+1){
					background: #D2EBF1;
					}
				}
			}
		}
	}
 	////INGREDIENTS(PRUDUCT PROPERTIES) PAGE STYLE END


 	////ABOUTUS PAGE STYLE START
 	.aboutus{
 		.pageMap{
 			margin-bottom: 15px;
 		}
 		h3,h4,h5{
 			color: $mainblue;
 			letter-spacing: 1.44px;

 		}
 		h3{
 			font-weight: 600;
 			font-size: 2em;
 		}
 		h4{
			width: 75%;
			font-size: 1.6em;
 			margin:20px auto;
 		}
 		p{
 			color: #5A5959;
 			letter-spacing: 1.08px;
 		}
 		p.border-bottom{
 			padding-bottom: 50px;
 		}
 		.fixed-bg{
 			background-image: url('../img/aboutbg.png');
 			height: 200px;
 			background-attachment: fixed;
 			background-repeat: no-repeat;
 			background-size: cover;
 			background-position: 0;
 		}
 	}
 	.contact-page{
 		.pageMap{
 			margin-bottom: 15px;
 		}
		.contact-label{
			width: 60%;
			margin:0 auto 100px auto;
			letter-spacing: -0.54px;
			color: #AFAFAF;
		}	


 		.mapouter{
 			position:relative;
	 		text-align:right;
	 		height:100%;
	 		width:100%;
 			}
 		.gmap_canvas {
 			overflow:hidden;
	 		background:none!important;
	 		height:100%;
	 		width:100%;
 		}
 	.contact-form{
 		padding-top: 40px;
 		margin-top: 30px;
 		border-top: 2px solid $mainblue;
 		}
 	}

 	 	////CAREER PAGE STYLE START

 	.career{
 		.career-bg{
 			background-image: url('../img/careerbg.png');
 			height: 200px;
 			background-attachment: fixed;
 			background-repeat: no-repeat;
 			background-size: cover;
 			background-position: 0;
 		}
 		h4{
 			font-size: 1.5em;
 		}
 		h5{
 			font-size: 1.2em;
 		}
 	}
 	 	////CAREER PAGE STYLE END


 	 	////POWERHOUSE PAGE STYLE START



	.powerhouse{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    p{
	    	text-align: center;
	    	letter-spacing: 1.44px;
			color: #5A5959;
			font-size: 1.6em;
	    }		
	    ul.powerlist{
				color: #5A5959;
				li{
					font-size: 1.8em;
					margin: 15px 0;
					i{
						color: $mainblue;
						margin-right: 15px;
					}
				}
			}
	}
 	 	////POWERHOUSE PAGE STYLE END

 	 	////CHEMICALS PAGE STYLE START
		.chemicals{
			padding-top: 50px;
			.chemicals-sidebar{
				h6{
					font-size: 1.2em;
					text-transform: capitalize;
					padding: 5px 0;
					margin: 0;
				}
				.categorylist{
					border-top: 1px solid $mainblue;
					.accOpen{
						&::after{
							content: "-";
						}
					}
					.category-wrapper{
						position: relative;
						cursor: pointer;
						letter-spacing: -0.36px;
						color: #606060;
						text-transform: capitalize;
						font-size: 1.2em;
						border-bottom: 1px solid $mainblue;
						padding: 4px 0;
						&::after{
							content: "+";
							color:$mainblue;
							font-size: 1.2em;
							position: absolute;
							top: 0;
							right: 0;
						}
						ul{
							margin-left: 25px;
    						margin-top: 5px;
							li{
								a{
								letter-spacing: -0.32px;
								color: #606060;
								text-transform: capitalize;
								font-size: 1em;
								&:hover{
										color: #F1893E;
										text-decoration: none;
									}
								}
							}
						}
					}
				}
				.pl-info{
					margin: 40px 0;
					padding: 30px 0;
					p{
						padding: 5px 0;
						font-size: .8em;
						letter-spacing: -0.26px;
					}
				}
				.sub-letter{
					input{
						border: 1px solid $mainblue;
						width: 100%;
					}
					button.main-btn{
						float: right;
						margin-top: 5px;
					}
					h5{
						letter-spacing: -0.4px;
						color: #8A8A8A;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 1.3em;
						margin: 0;
					}
					p{
						padding: 0;
						font-size: .8em;
						letter-spacing: -0.26px;
					}
				}
			}
		}

		
 	 	////CHEMICALS PAGE STYLE START



}
/////FORM STYLES
.contact-form{
 			form{
 				label{
 					text-transform: capitalize;
 					color:#525151;
 					letter-spacing: -0.3px;
 					font-weight: 400;
 					margin-bottom: 0;
 					span.red-star{
 						color: #FD0000;
 					}
 				}
 				input,textarea,select{
 					border: 1px solid #E5E5E5;
 					border-radius: 0;
 					box-shadow: none;
 					color: #525151;
 				}
 				input{
 					padding: 20px;
 				}
 				select{
 					height: 42px;
 					margin-bottom: 15px;
 					option[value=""][disabled]{
 					display: none;


 					}
 				}
 				.request-radio{
					display: flex;
					flex-wrap: wrap;
 					li{
 						flex-grow: 1;
						background-color: #E5E5E5;
						display: flex;
						align-items: center;
						justify-content: center;
 						input{
 							visibility: hidden;
 							display: none;
 						}
 						label{
 							cursor: pointer;
 							font-size: 1.2em;
 							width: 100%;
 							text-align: center;
 							padding: 10px 0;
 							transition: all .5s ease; 
 							border-right: 1px solid #fff;
 						}
 						input:checked + label {
   						background: #c2c2c2;
						}
 					}
 				}
 				.input-filewrapper{
 					position: relative;
 					height: 62px;
 					margin-bottom: 15px;
 					label{
 						position: absolute;
 						top: 0;
 						left: 0;
 					}
					.input-file-mask{
						position: absolute;
						top: 20px;
						left: 0;
						width: 100%;
						padding: 10px 20px;
						cursor: pointer;


					}
					.input-file{
						position: absolute;
						top: 20px;
						left: 0;
						opacity: 0;
						z-index: 4;
						width: 100%;
						padding: 9px 20px;
						cursor: pointer;
		

					}
					&::after{
							content: "upload";
							color: white;
							text-transform: uppercase;
							background-color: $mainblue;
							padding: 10px;
							position: absolute;
							top: 21px;
    						right: 0;
						}

 				}
 			}
 		}

///// PRODUCT INFO ACCORDION
.accClose .accContent{
	transform: scaleY(0);
	border-bottom: none !important;
	position: absolute;
	z-index: -5000;
	opacity: 0;
	transition: all 0s
	

}
.accOpen .accContent{
	
	transition:  all .7s linear;
	border-bottom: none !important;
	transform: scaleY(1);
	opacity: 1;
}
////PRODUCT-INFO ACCORDION END


.pageMap{
	letter-spacing: -0.28px;
	color: #BEBEBE;
	font-size: .7em;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.page-name{
	letter-spacing: -0.36px;
	color: #2898D5;
	text-transform: capitalize;
	width: 20%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 1em;

	a{
		color: #2898D5;
		margin-right: 15px;
		font-weight: 600;
		font-size: 1em;
	}
}
.border-top{
	border-top: 1px solid $mainblue;
	padding-top: 12px;
}
.border-bottom{
	border-bottom: 1px solid $mainblue;
	padding-bottom: 12px;
} 
.main-btn{
		background: #2898D5 0% 0% no-repeat;
		box-shadow: 0px 3px 7px #00000070;
		opacity: 0.75;
		padding: 10px 30px;
		letter-spacing: -0.51px;
		color: #FFFFFF;
		text-decoration: none;
		text-transform: uppercase;

}
button.main-btn{
	border: none;
	outline: none;
}
.main-btn-sm{
	padding: 3px 5px;
}
a.link-img{
	letter-spacing: -0.36px;
	color: #373737;
	font-size: 1.2em;
	&:hover{
		text-decoration: none;
	}
}