$mainblue: #2898D5;
html{
	font-family: 'Merriweather', serif;
	font-size:15px;
	overflow-x: hidden;
}
.nopadding{
	padding: 0 !important;
}
@keyframes hamLinkFade{
			from{
				opacity: 0;
				transform: translateX(50px);
			}
			to{
				opacity: 1;
				transform: translateX(0px);
			}
		}
#header-section{
	.static-nav{
		background-color: $mainblue;
		height: 50px;
		width: 100%;
		margin: 0 -15px;
	}
	.nav-hamburger{
		height: 10vh;
		width: 100%;
		background-color: $mainblue;
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding: 0 50px;


		.ham-logo{
			width: 30px;
		}

		.hamburger{ 
			cursor: pointer;
			div{
				width: 25px;
				height: 3px;
				margin: 5px;
				background-color: #FFFFFF;
				transition: all .4s ease;
			}
		}
		
		.ham-toggle{
			.line1{
				transform: rotate(-45deg) translate(-5px,6px);
			}
			.line2{
				opacity: 0;
			}
			.line3{
				transform: rotate(45deg) translate(-5px,-6px);

			}
		}
		.ham-nav-active{
			transform: translateX(0%) !important;
		}
		.ham-links{
			position: absolute;
			width: 50%;
			height: 90vh;
			background-color: $mainblue;
			top: 10vh;
			right: 0;
			z-index: 5;
			display: flex;
			flex-direction:column;
			justify-content: space-around;
			align-items:center;
			transform:translateX(100%);
			transition: transform .5s ease-in;

			
				li{
					opacity: 0;	
					a{
					color: #FFFFFF;
					text-decoration: none;
					font-size: 2em;
					font-weight: 300;
					&:hover{
						text-decoration:none;
						color: #FFFFFF;

					}
				}
			}
		}
	}
	.nav-bg{

		margin: 0 -15px;
		position: relative;
		.logo-link{
			img{
				position: absolute;
			    top: 0;
			    left: 50%;
			    z-index: 3;
			    transform: translateX(-50%);
			}
		}
		.nav-bg-mask{
			position: relative;
			top: 0;
			left: 0;
			z-index: 3;
			width: 100%;
			filter: drop-shadow(0 5px 11px #000045);
			min-height: 58px;
			pointer-events: none;
		}
		.nav-gen{
			z-index: 2;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			
			.nav-part{
					flex-grow:1;
				ul{
					display: flex;
					width: 100%;
					justify-content:space-evenly;
					margin-bottom: 0 !important;
					align-items: center;				
				}
			}
		}
		.nav-shadow{
			
			position: fixed;
			z-index: 2;
			top: 0;
			ul{
				background-color: $mainblue;
				margin-bottom: 0 !important;
				li{
					padding: 3px 0;
					a{
						text-decoration: none;
						color: #FFFFFF;
						text-transform: uppercase;

						&:hover{
							color: #FFFFFF;
							text-decoration: none;
						}
					}

				}
			}
		}
		
		.full-nav{
			position: absolute;
			top: 32px;
			z-index: 1;
			.nav-part{
				ul{
					background-color: #dedede;
					li{
						a{
						text-transform: uppercase;
						font-weight: 350;
						text-decoration: none;
						color: #919191;
						&:hover{
							color: #919191;
							text-decoration: none;
							}
						}
						.nav-link-active{
							border-bottom: 1px solid #F1893E;
    						padding-bottom: 5px;
						}
					}
				}
			}
		}
	}

	.header-gen{
		display: flex;
		align-items:center;
		flex-direction: column;
		background-size: 100% 100%;
		padding-top: 140px;
		padding-bottom: 70px;
		
	}
	.header-left{
		background: transparent url('../img/header-left-bg.png') 0% 0% no-repeat padding-box;
		margin-right: -1px;
		background-size: 100% 100%;
	}
	.header-right{
		background: transparent url('../img/header-right-bg.png') 0% 0% no-repeat padding-box;
		background-size: 100% 100%;

	}
	.cover-heading{
		text-align: center;
		font:  66px/75px Helvetica Neue;
		letter-spacing: -1.32px;
		color: #FFFFFF;
		text-shadow: 0px 2px 4px #383838;
		text-transform: uppercase;
		opacity: 1;
		margin: 0;
		white-space: pre-line;


	}
	.seeMore{
		background: #FAFAFA33 0% 0% no-repeat padding-box;
		border: 1px solid #2898D5;
		border-radius: 5px;
		opacity: 1;
		letter-spacing: -0.7px;
		color: #2898D5;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 400;
		padding: 5px 25px;
		margin: 60px 0;

	}
	.cover-items{
		
		
	}

}
#content-section{
	margin: 50px 0;


	.content-element{
		padding: 20px;
		text-align: center;
		background-color: #FFFFFF;
		.content-p{
		text-align: left;
		font-size: 1.3em;
		letter-spacing: -0.46px;
		color: #5A5A5A;
		margin: 10px 0;
		}
		
	}
	.our-brand{
	box-shadow: 0px 4px 15px #00000066;
	width: 100%;
	.brand-item{
		padding: 7px 0;
	}
	}

	.content-heading{
	text-align: left;
	font-size: 2em;
	font-weight: 600;	
	letter-spacing: -0.58px;
	color: #1C7BBE;
	text-transform: uppercase;
	}
	.private-label{
		margin-top: 30px;
		margin-right: -15px;
	    margin-left: -15px;
	    padding: 20px 0;
	    img{
	    	width: 100%;
	    }
	}

}
.figure{
	width: 100%;
	height: 50px;
	background-color: #DEDEDE;
	.figure-inside{
		width: 100%;
		height: 40px;
		background-color: #FFFFFF;
	    border-bottom-left-radius: 100%;
	    border-bottom-right-radius: 100%;

	}

}




/*   FOOTER SECTION STYLE*/
#footer-section{
	background: #F0F0F0;
	height: 300px;
	display: flex;
	align-items: center;
	padding: 50px 0 20px 0;
	.footer-wrapper{
		display: flex;
		justify-content: space-between;
		.footer-logo-wrapper{
			flex-grow: 1;
			.footer-logo{
			max-width: 50px;
			}
		}
		.footer-list{
			flex-grow: 2;
			li{
				
			margin: 14px 0;

				a{
					text-decoration: none;
					text-align: left;
					font-size: 1.2em;
					letter-spacing: -0.36px;
					color: #141414;
					opacity: 0.5;
				}
			}
		}
		.sub-letter{
			flex-grow: 2;
			display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    margin-bottom: 10px;
		    align-items: flex-end;
			margin:0 -30px;
			margin-bottom: 10px;

			h6{
			letter-spacing: -0.4px;
			color: #525252;
			font-size: 1.3em;
			font-weight: 600;
			}
			.form{
				
				input{
					height: 25px;
					outline: none;
					&::placeholder{
						text-align: left;
						font-size: 1.2em;
						letter-spacing: -0.46px;
						color: #000000;
						opacity: 0.3;
				
					}
				}
				button{
					background: #5EB2E0 0% 0% no-repeat;
					border: none;
					outline: none;
					text-align: left;
					font-size: 1em;
					font-weight: 700;
					letter-spacing: -0.38px;
					color: #FFFFFF;
					padding: 2px 5px;
					&:hover{
						background: #5EB2E0 0% 0% no-repeat;
					}
				}
			}
			.copyright{
				text-align: left;
				font: 1.2em;
				letter-spacing: -0.36px;
				color: #BEBEBE;
			}
		}
	}
}




@import 'pages.scss';
@import 'delta-responsive.scss';