html {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  overflow-x: hidden; }

.nopadding {
  padding: 0 !important; }

@keyframes hamLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
#header-section .static-nav {
  background-color: #2898D5;
  height: 50px;
  width: 100%;
  margin: 0 -15px; }
#header-section .nav-hamburger {
  height: 10vh;
  width: 100%;
  background-color: #2898D5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; }
  #header-section .nav-hamburger .ham-logo {
    width: 30px; }
  #header-section .nav-hamburger .hamburger {
    cursor: pointer; }
    #header-section .nav-hamburger .hamburger div {
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #FFFFFF;
      transition: all .4s ease; }
  #header-section .nav-hamburger .ham-toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  #header-section .nav-hamburger .ham-toggle .line2 {
    opacity: 0; }
  #header-section .nav-hamburger .ham-toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  #header-section .nav-hamburger .ham-nav-active {
    transform: translateX(0%) !important; }
  #header-section .nav-hamburger .ham-links {
    position: absolute;
    width: 50%;
    height: 90vh;
    background-color: #2898D5;
    top: 10vh;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in; }
    #header-section .nav-hamburger .ham-links li {
      opacity: 0; }
      #header-section .nav-hamburger .ham-links li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 2em;
        font-weight: 300; }
        #header-section .nav-hamburger .ham-links li a:hover {
          text-decoration: none;
          color: #FFFFFF; }
#header-section .nav-bg {
  margin: 0 -15px;
  position: relative; }
  #header-section .nav-bg .search-form {
    position: absolute;
    z-index: 5; }
    #header-section .nav-bg .search-form button {
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff; }
      #header-section .nav-bg .search-form button:hover {
        background-color: transparent;
        border: none;
        outline: none; }
  #header-section .nav-bg .logo-link img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%); }
  #header-section .nav-bg .nav-bg-mask {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    filter: drop-shadow(0 5px 11px #000045);
    min-height: 58px;
    pointer-events: none; }
  #header-section .nav-bg .nav-gen {
    z-index: 2;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    #header-section .nav-bg .nav-gen .nav-part {
      flex-grow: 1; }
      #header-section .nav-bg .nav-gen .nav-part ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 0 !important;
        align-items: center; }
  #header-section .nav-bg .nav-shadow {
    position: fixed;
    z-index: 2;
    top: 0; }
    #header-section .nav-bg .nav-shadow ul {
      background-color: #2898D5;
      margin-bottom: 0 !important; }
      #header-section .nav-bg .nav-shadow ul li {
        padding: 3px 0; }
        #header-section .nav-bg .nav-shadow ul li a {
          text-decoration: none;
          color: #FFFFFF;
          text-transform: uppercase; }
          #header-section .nav-bg .nav-shadow ul li a:hover {
            color: #FFFFFF;
            text-decoration: none; }
  #header-section .nav-bg .full-nav {
    position: absolute;
    top: 32px;
    z-index: 1; }
    #header-section .nav-bg .full-nav .nav-part ul {
      background-color: #dedede; }
      #header-section .nav-bg .full-nav .nav-part ul li a {
        text-transform: uppercase;
        font-weight: 350;
        text-decoration: none;
        color: #919191; }
        #header-section .nav-bg .full-nav .nav-part ul li a:hover {
          color: #919191;
          text-decoration: none; }
      #header-section .nav-bg .full-nav .nav-part ul li .nav-link-active {
        border-bottom: 1px solid #F1893E;
        padding-bottom: 5px; }
#header-section .header-gen {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 70px; }
#header-section .header-left {
  background: transparent url("../img/header-left-bg.png") 0% 0% no-repeat padding-box;
  margin-right: -1px;
  background-size: 100% 100%; }
#header-section .header-right {
  background: transparent url("../img/header-right-bg.png") 0% 0% no-repeat padding-box;
  background-size: 100% 100%; }
#header-section .cover-heading {
  text-align: center;
  font: 66px/75px Helvetica Neue;
  letter-spacing: -1.32px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px #383838;
  text-transform: uppercase;
  opacity: 1;
  margin: 0;
  white-space: pre-line; }
#header-section .seeMore {
  background: #FAFAFA33 0% 0% no-repeat padding-box;
  border: 1px solid #2898D5;
  border-radius: 5px;
  opacity: 1;
  letter-spacing: -0.7px;
  color: #2898D5;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  padding: 5px 25px;
  margin: 60px 0; }

#content-section {
  margin: 50px 0; }
  #content-section .content-element {
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF; }
    #content-section .content-element .content-p {
      text-align: left;
      font-size: 1.3em;
      letter-spacing: -0.46px;
      color: #5A5A5A;
      margin: 10px 0; }
  #content-section .our-brand {
    box-shadow: 0px 4px 15px #00000066;
    width: 100%; }
    #content-section .our-brand .brand-item {
      padding: 7px 0; }
  #content-section .content-heading {
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -0.58px;
    color: #1C7BBE;
    text-transform: uppercase; }
  #content-section .private-label {
    margin-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 0; }
    #content-section .private-label img {
      width: 100%; }

.figure {
  width: 100%;
  height: 50px;
  background-color: #DEDEDE; }
  .figure .figure-inside {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; }

/*   FOOTER SECTION STYLE*/
#footer-section {
  background: #F0F0F0;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 50px 0 20px 0; }
  #footer-section .footer-wrapper {
    display: flex;
    justify-content: space-between; }
    #footer-section .footer-wrapper .footer-logo-wrapper {
      flex-grow: 1; }
      #footer-section .footer-wrapper .footer-logo-wrapper .footer-logo {
        max-width: 50px; }
    #footer-section .footer-wrapper .footer-list {
      flex-grow: 2; }
      #footer-section .footer-wrapper .footer-list li {
        margin: 14px 0; }
        #footer-section .footer-wrapper .footer-list li a {
          text-decoration: none;
          text-align: left;
          font-size: 1.2em;
          letter-spacing: -0.36px;
          color: #141414;
          opacity: 0.5; }
    #footer-section .footer-wrapper .sub-letter {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: flex-end;
      margin: 0 -30px;
      margin-bottom: 10px; }
      #footer-section .footer-wrapper .sub-letter h6 {
        letter-spacing: -0.4px;
        color: #525252;
        font-size: 1.3em;
        font-weight: 600; }
      #footer-section .footer-wrapper .sub-letter .form input {
        height: 25px;
        outline: none; }
        #footer-section .footer-wrapper .sub-letter .form input::placeholder {
          text-align: left;
          font-size: 1.2em;
          letter-spacing: -0.46px;
          color: #000000;
          opacity: 0.3; }
      #footer-section .footer-wrapper .sub-letter .form button {
        background: #5EB2E0 0% 0% no-repeat;
        border: none;
        outline: none;
        text-align: left;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -0.38px;
        color: #FFFFFF;
        padding: 2px 5px; }
        #footer-section .footer-wrapper .sub-letter .form button:hover {
          background: #5EB2E0 0% 0% no-repeat; }
      #footer-section .footer-wrapper .sub-letter .copyright {
        text-align: left;
        font: 1.2em;
        letter-spacing: -0.36px;
        color: #BEBEBE; }

h1, h2, h3, h4, h5, h6 {
  color: #2898D5; }

p {
  color: #5A5959;
  letter-spacing: 1.08px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.m-b-20 {
  margin-bottom: 20px; }

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }

#lightbox.lightactive {
  display: flex;
  justify-content: center;
  align-items: center; }

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white; }

#pageContent {
  padding-top: 50px;
  padding-bottom: 100px; }
  #pageContent p {
    letter-spacing: 1.08px;
    color: #5A5959;
    padding: 12px 0; }
  #pageContent .news-heading {
    color: #2898D5;
    font-size: 1.4em;
    margin: 15px 0;
    font-weight: 600; }
  #pageContent .part-heading {
    color: #2898D5;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 15px 0;
    width: 20%;
    font-weight: 600; }
  #pageContent .product-item {
    margin: 15px 0; }
  #pageContent .writeUs {
    margin: 20px 0; }
  #pageContent .product-img {
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0; }
  #pageContent .product-info-list ul {
    list-style: disc;
    padding-left: 15px; }
    #pageContent .product-info-list ul li {
      letter-spacing: 0.72px;
      color: #C2C2C2; }
  #pageContent .product-table {
    color: #C2C2C2; }
    #pageContent .product-table .table-btn {
      background-color: #FFFFFF;
      color: #2898D5;
      border: none;
      outline: none; }
      #pageContent .product-table .table-btn:hover {
        background: #FFFFFF; }
    #pageContent .product-table .accordionItem .pr-data {
      padding: 5px 0;
      border-bottom: 1px solid #C2C2C2;
      margin: 0 -15px; }
    #pageContent .product-table .accordionItem .pr-button {
      padding: 4px 0; }
    #pageContent .product-table .product-table-heading {
      font-weight: 600; }
      #pageContent .product-table .product-table-heading .pr-data {
        padding: 5px 0;
        border-bottom: 2px solid #C2C2C2;
        margin: 0 -15px; }
    #pageContent .product-table .accContent .pr-table-info p {
      padding: 5px;
      border: 1px solid #C2C2C2;
      color: #C2C2C2; }
    #pageContent .product-table .accContent h4 {
      color: #2898D5;
      font-size: 1.2em;
      font-weight: 600;
      margin: 0; }
    #pageContent .product-table .accContent a {
      color: #FFF;
      text-decoration: none; }
      #pageContent .product-table .accContent a:hover {
        color: #FFF;
        text-decoration: none; }
  #pageContent .categories {
    color: #575757;
    text-transform: capitalize; }
    #pageContent .categories .pageMap {
      margin-bottom: 15px; }
    #pageContent .categories h5 {
      font-size: 1.4em;
      margin-left: 38px; }
    #pageContent .categories .categorylist .category-name {
      cursor: pointer;
      font-size: 1.3em;
      margin: 15px 0; }
      #pageContent .categories .categorylist .category-name i {
        margin-right: 25px;
        font-size: 0.5em; }
    #pageContent .categories .categorylist ul.subcat {
      margin: 15px 4px !important;
      padding-left: 50px;
      border-left: 1px solid #575757;
      transition: all .5s linear; }
      #pageContent .categories .categorylist ul.subcat li a {
        font-size: 1em;
        color: #575757;
        text-decoration: none; }
        #pageContent .categories .categorylist ul.subcat li a:hover {
          color: #575757;
          text-decoration: none; }
  #pageContent .property-table {
    color: #313131; }
    #pageContent .property-table .page-name {
      margin-bottom: 50px; }
    #pageContent .property-table .item-title {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid #040506; }
      #pageContent .property-table .item-title h5 {
        color: #313131;
        margin: 0;
        margin-left: 15px; }
      #pageContent .property-table .item-title button {
        background-color: transparent;
        color: #2898D5;
        font-size: .9em;
        outline: none;
        border: none; }
        #pageContent .property-table .item-title button:hover {
          background-color: transparent;
          color: #2898D5;
          border: none; }
    #pageContent .property-table table {
      text-transform: capitalize;
      font-size: 0.8em;
      padding: 0 15px; }
      #pageContent .property-table table td {
        border: none !important; }
        #pageContent .property-table table td:first-child {
          padding-left: 15px; }
      #pageContent .property-table table thead {
        color: #2898D5;
        cursor: pointer; }
        #pageContent .property-table table thead tr td:first-child {
          padding-left: 15px !important; }
      #pageContent .property-table table tbody tr {
        border: none; }
        #pageContent .property-table table tbody tr:nth-child(2n+1) {
          background: #D2EBF1; }
  #pageContent .aboutus .pageMap {
    margin-bottom: 15px; }
  #pageContent .aboutus h3, #pageContent .aboutus h4, #pageContent .aboutus h5 {
    color: #2898D5;
    letter-spacing: 1.44px; }
  #pageContent .aboutus h3 {
    font-weight: 600;
    font-size: 2em; }
  #pageContent .aboutus h4 {
    width: 75%;
    font-size: 1.6em;
    margin: 20px auto; }
  #pageContent .aboutus p {
    color: #5A5959;
    letter-spacing: 1.08px; }
  #pageContent .aboutus p.border-bottom {
    padding-bottom: 50px; }
  #pageContent .aboutus .fixed-bg {
    background-image: url("../img/aboutbg.png");
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0; }
  #pageContent .contact-page .pageMap {
    margin-bottom: 15px; }
  #pageContent .contact-page .contact-label {
    width: 60%;
    margin: 0 auto 100px auto;
    letter-spacing: -0.54px;
    color: #AFAFAF; }
  #pageContent .contact-page .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%; }
  #pageContent .contact-page .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%; }
  #pageContent .contact-page .contact-form {
    padding-top: 40px;
    margin-top: 30px;
    border-top: 2px solid #2898D5; }
  #pageContent .career .career-bg {
    background-image: url("../img/careerbg.png");
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0; }
  #pageContent .career h4 {
    font-size: 1.5em; }
  #pageContent .career h5 {
    font-size: 1.2em; }
  #pageContent .powerhouse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #pageContent .powerhouse p {
      text-align: center;
      letter-spacing: 1.44px;
      color: #5A5959;
      font-size: 1.6em; }
    #pageContent .powerhouse ul.powerlist {
      color: #5A5959; }
      #pageContent .powerhouse ul.powerlist li {
        font-size: 1.8em;
        margin: 15px 0; }
        #pageContent .powerhouse ul.powerlist li i {
          color: #2898D5;
          margin-right: 15px; }
  #pageContent .chemicals {
    padding-top: 50px; }
    #pageContent .chemicals .chemicals-sidebar h6 {
      font-size: 1.2em;
      text-transform: capitalize;
      padding: 5px 0;
      margin: 0; }
    #pageContent .chemicals .chemicals-sidebar .categorylist {
      border-top: 1px solid #2898D5; }
      #pageContent .chemicals .chemicals-sidebar .categorylist .accOpen::after {
        content: "-"; }
      #pageContent .chemicals .chemicals-sidebar .categorylist > li {
        position: relative;
        cursor: pointer;
        letter-spacing: -0.36px;
        color: #606060;
        text-transform: capitalize;
        font-size: 1.2em;
        border-bottom: 1px solid #2898D5;
        padding: 4px 0; }
        #pageContent .chemicals .chemicals-sidebar .categorylist > li::after {
          content: "+";
          color: #2898D5;
          font-size: 1.2em;
          position: absolute;
          top: 0;
          right: 0; }
        #pageContent .chemicals .chemicals-sidebar .categorylist > li ul {
          margin-left: 25px;
          margin-top: 5px; }
          #pageContent .chemicals .chemicals-sidebar .categorylist > li ul li a {
            letter-spacing: -0.32px;
            color: #606060;
            text-transform: capitalize;
            font-size: 1em; }
            #pageContent .chemicals .chemicals-sidebar .categorylist > li ul li a:hover {
              color: #F1893E;
              text-decoration: none; }
    #pageContent .chemicals .chemicals-sidebar .pl-info {
      margin: 40px 0;
      padding: 30px 0; }
      #pageContent .chemicals .chemicals-sidebar .pl-info p {
        padding: 5px 0;
        font-size: .8em;
        letter-spacing: -0.26px; }
    #pageContent .chemicals .chemicals-sidebar .sub-letter input {
      border: 1px solid #2898D5;
      width: 100%; }
    #pageContent .chemicals .chemicals-sidebar .sub-letter button.main-btn {
      float: right;
      margin-top: 5px; }
    #pageContent .chemicals .chemicals-sidebar .sub-letter h5 {
      letter-spacing: -0.4px;
      color: #8A8A8A;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3em;
      margin: 0; }
    #pageContent .chemicals .chemicals-sidebar .sub-letter p {
      padding: 0;
      font-size: .8em;
      letter-spacing: -0.26px; }

.contact-form form label {
  text-transform: capitalize;
  color: #525151;
  letter-spacing: -0.3px;
  font-weight: 400;
  margin-bottom: 0; }
  .contact-form form label span.red-star {
    color: #FD0000; }
.contact-form form input, .contact-form form textarea, .contact-form form select {
  border: 1px solid #E5E5E5;
  border-radius: 0;
  box-shadow: none;
  color: #525151; }
.contact-form form input {
  padding: 20px; }
.contact-form form select {
  height: 42px;
  margin-bottom: 15px; }
  .contact-form form select option[value=""][disabled] {
    display: none; }
.contact-form form .request-radio {
  display: flex;
  flex-wrap: wrap; }
  .contact-form form .request-radio li {
    flex-grow: 1;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contact-form form .request-radio li input {
      visibility: hidden;
      display: none; }
    .contact-form form .request-radio li label {
      cursor: pointer;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      transition: all .5s ease;
      border-right: 1px solid #fff; }
    .contact-form form .request-radio li input:checked + label {
      background: #c2c2c2; }
.contact-form form .input-filewrapper {
  position: relative;
  height: 62px;
  margin-bottom: 15px; }
  .contact-form form .input-filewrapper label {
    position: absolute;
    top: 0;
    left: 0; }
  .contact-form form .input-filewrapper .input-file-mask {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer; }
  .contact-form form .input-filewrapper .input-file {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    z-index: 4;
    width: 100%;
    padding: 9px 20px;
    cursor: pointer; }
  .contact-form form .input-filewrapper::after {
    content: "upload";
    color: white;
    text-transform: uppercase;
    background-color: #2898D5;
    padding: 10px;
    position: absolute;
    top: 21px;
    right: 0; }

.accClose .accContent {
  transform: scaleY(0);
  border-bottom: none !important;
  position: absolute;
  z-index: -5000;
  opacity: 0;
  transition: all 0s; }

.accOpen .accContent {
  transition: all .7s linear;
  border-bottom: none !important;
  transform: scaleY(1);
  opacity: 1; }

.pageMap {
  letter-spacing: -0.28px;
  color: #BEBEBE;
  font-size: .7em;
  text-transform: uppercase;
  margin-bottom: 50px; }

.page-name {
  letter-spacing: -0.36px;
  color: #2898D5;
  text-transform: capitalize;
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1em; }
  .page-name a {
    color: #2898D5;
    margin-right: 15px;
    font-weight: 600;
    font-size: 1em; }

.border-top {
  border-top: 1px solid #2898D5;
  padding-top: 12px; }

.border-bottom {
  border-bottom: 1px solid #2898D5;
  padding-bottom: 12px; }

.main-btn {
  background: #2898D5 0% 0% no-repeat;
  box-shadow: 0px 3px 7px #00000070;
  opacity: 0.75;
  padding: 10px 30px;
  letter-spacing: -0.51px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase; }

button.main-btn {
  border: none;
  outline: none; }

.main-btn-sm {
  padding: 3px 5px; }

a.link-img {
  letter-spacing: -0.36px;
  color: #373737;
  font-size: 1.2em; }
  a.link-img:hover {
    text-decoration: none; }

@media only screen and (max-width: 768px) {
  .nav-bg {
    display: none; } }
@media only screen and (min-width: 768px) {
  .hamburger-cont {
    display: none; } }
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .nav-bg .full-nav .nav-part li a {
    font-size: .7em !important; } }
